<h3>About Me</h3>
<div class="card with-text">
  <div class="row">
    <div class="col m6">
      <a href="" class="twitter-timeline" href="#">
      </a>
    </div>
    <div class="col m6">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col m3">
          <%= image_tag "女優.jpeg", class:"circle responsive-img"%>
          </div>
          <div class="col m9">
          <span class="black-text">
            I don't know wtah tp say
          </span>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>