<DOCTYPE! html>

<html>
<head>
 <title> 練習</title>
 <link rel="stylesheet" type="text/css" href="style.css">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>
  <div class="top-wrapper">
    <div class="header">
     <div class="search-header clearfix">
       <div class="logo"><img class="logo-top" src="./facebook.png"></div>
       <div class="search-filed">
        <input type="text">
        <button type="button">
          <i class="fas fa-search"></i>
        </button>
       </div>
     </div>
     <div class="nav-items">
      <div class="user">
        <div class="user-icon">
                <img class="logo-top" src="./facebook.png">
        </div>
        <div class="user-name">渡辺　晃史</div>
      </div>
      <div class="home">
          <a href="#">ホーム</a>
      </div>
      <div class="new-page">
            <a href="#">作成</a>
      </div>
      <div class="message"></div>
      <div class="infos"></div>
      <div class="help"></div>
      <div class="others"></div>
     </div>   

    </div>
  </div>



</body>

</html>